html{
    color:white;
    background-image: url("images/3-1080.jpg");
    background-size: cover;
}

body{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}

a:link {color:white;}		/* 未被访问的链接 */
a:visited {color:white;}	/* 已被访问的链接 */
a:hover {color:#00b0e9;}	/* 鼠标指针移动到链接上 */
a:active {color:#00b0e9;}	/* 正在被点击的链接 */

a {text-decoration:none;}

ul{
    list-style-type: none;
    color:white;
    font-size: 1.2em;
    text-shadow: 0 0 .5rem rgba(0,0,0,.25);
}

/* li{
float: left;
} */

header{
    height: 150px ;
}

#nav{
    display: flex;
    flex:auto;
    align-items: center;
    justify-content:center;
}